body { 
	font-family: courier, 'courier new', 'fixed-width'; 
	font-size: 14px;
	background: #000000;
	margin: 0px; 
	padding: 0px;
}

#toolbar {
	padding: 3px;
	margin-top: 2px;
}

.scrolling_contents {
	overflow-y: auto !important;
}

textarea {
	background: none;
	color: #ffffff;
	border: 1px solid #695649;
	height: 100% !important; 
	width: 100%; 
	margin: 0; 
	padding: 0 4px 0 4px;
}

#editor {
	position: absolute; 
	top: 41px; 
	left: 4px; 
	right: 4px; 
	bottom: 4px; 
	padding: 0 !important; 
	overflow: hidden !important;
}

#editor textarea {
	overflow-x: hidden !important;
}

.ace_gutter-cell.ace_breakpoint{
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 1px 1px red inset;
} 

.dialog_contents {
	position: absolute !important; 
	top: 34px; 
	left: 4px; 
	right: 4px; 
	bottom: 0; 
	padding-left: 3px !important; 
	padding-right: 5px !important;  
	padding-top: 7px !important; 
	padding-bottom: 5px !important; 
	
}

#listing {
	top: 39px; 
	padding-top: 0px !important;
	padding-left: 0px !important;
	margin-left: 2px;
	z-index: 16;
}

#debugger_line {
	position: absolute;
	height: 14px;
    left: 4px;
    right: 20px;
    top: 39px;
    z-index: 15;
	background: #874309;
}

.offset {
	color: #777777;
	float: left; 
	width: 62px;
	margin-right: 14px;
	line-height: 14px;
	cursor: pointer;
}
.breakpoint {
	background: #971200;
	color: #aaaaaa !important;
}

.bytecode {
	color: #ffffff;
	float: left; 
	width: 170px;
	line-height: 14px;
}
.tokens {
	float: left; 
	line-height: 14px;
}
.clear {
	clear: both;
}

.comment { 
	color: #777777; 
	white-space: nowrap;
}
.hexidecimal { 
	color: #3bd4d4; 
}
.decimal { 
	color: #0077ff; 
}
.string { 
	color: #007700 
}
.label_def { 
	color: #6666ff 
}
.label_ref { 
	color: #aaaaff 
}
.command { 
	color: #ffffff; 
	font-weight: bold;
}
.reserved_word { 
	color: #aaaa00; 
}
.open_bracket { 
	color: #dddddd; 
}	
.close_bracket { 
	color: #dddddd; 
} 
.comma { 
	color: #dddddd; 
}
.operator { 
	color: #dddddd; 
}
.register { 
	color: #fe9fde; 
}
.space {  }


.register-name {
	float: left;
	color: #fe9fde; 
	width: 35px;
}
.register-value {
	float: left;
	color: #ffffff;
}

.changed {
	color: #fc4343 !important;
}
