body { 
	font-family: courier, 'courier new', Lucidatypewriter, monospace, fixed; 
	/*Monaco, "Menlo", "Courier New", monospace*/
	font-size: 12px;
	background: #000000;
	margin: 0px; 
	padding: 0px;
}

.right {
	float: right;
}
.left {
	float: left;
}

.heading {
	font-weight: bold;
	font-size: 16px;
}

#toolbar {
	padding: 3px;
	margin-top: 2px;
}

.scrolling_contents {
	overflow-y: auto !important;
}

textarea {
	background: none;
	color: #ffffff;
	border: 1px solid #695649;
	height: 100% !important; 
	width: 100%; 
	margin: 0; 
	padding: 0 4px 0 4px;
}

#editor {
	position: absolute; 
	top: 31px; 
	left: 4px; 
	right: 4px; 
	bottom: 1px; 
	padding: 0 !important; 
	overflow: hidden !important;
}

.ace_editor {
	font-size: 12px !important;
	font-family: courier, 'courier new', Lucidatypewriter, monospace, fixed !important; 
}

.titlebar-icon {
	cursor: pointer;
	margin-top: 2px;
	border: 1px solid #ffffff;
	margin-right: 3px;
	background: rgba(255, 255, 255, 0.5);
	width: 16px;
	height: 16px;
}

.titlebar-icon:hover { 
	background: rgba(255, 255, 255, 0.8);
}

.mini-button {
	cursor: pointer;
	margin-top: 6px;
	margin-left: 14px;
	border: 1px solid #ffffff;
	margin-right: 3px;
	background: rgba(255, 255, 255, 0.5);
	width: 100px;
	text-align: center;
	height: 16px;
	color: #ffffff;
}

.mini-button:hover { 
	background: rgba(255, 255, 255, 0.8);
	color: #666666;
}


.dialog_contents {
	position: absolute !important; 
	top: 34px; 
	left: 4px; 
	right: 4px; 
	bottom: 0; 
	padding-left: 3px !important; 
	padding-right: 5px !important;  
	padding-top: 7px !important; 
	padding-bottom: 5px !important; 
	
}

#listing {
	top: 39px; 
	padding-top: 0px !important;
	padding-left: 0px !important;
	margin-left: 2px;
	z-index: 16;
}

#debugger_line {
	position: absolute;
	height: 14px;
    left: 4px;
    right: 20px;
    top: 39px;
    z-index: 15;
	background: #3f5526;
}

.listing_line {
	white-space: nowrap;
	height: 14px;
}

.offset {
	color: #777777;
	width: 62px;
	margin-right: 14px;
	cursor: pointer;
}

.breakpoint {
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0px 0px 1px 1px red inset;
	background: #971200;
	color: #aaaaaa !important;
}

.ace_gutter-cell.ace_breakpoint {
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0px 0px 1px 1px red inset;
	background: #971200;
	color: #aaaaaa !important;
}

#assembly {
	border-top: 6px solid #257505;
}

#assembly.failed {
	border-top: 6px solid #bc3329;
}

.output_message {
	padding-left: 4px;
	margin-bottom: 1px;
}

.output_error {
	padding-left: 4px;
	margin-bottom: 1px;
	color: #ea3e32;
	cursor: pointer;
}

.bytecode {
	color: #ffffff;
	width: 170px;
}
.tokens {
}
.clear {
	clear: both;
}

.comment { 
	color: #777777; 
	white-space: nowrap;
}
.hexidecimal { 
	color: #3bd4d4; 
	cursor: pointer;
}
.decimal { 
	color: #0077ff; 
}
.binary { 
	color: #0077ff; 
}
.string { 
	color: #007700;
}
.label_def { 
	color: #6666ff;
}
.label_ref { 
	color: #aaaaff;
	cursor: pointer;
}
.command { 
	color: #ffffff; 
	font-weight: bold;
}
.reserved_word { 
	color: #aaaa00; 
}
.open_bracket { 
	color: #dddddd; 
}	
.close_bracket { 
	color: #dddddd; 
} 
.comma { 
	color: #dddddd; 
}
.operator { 
	color: #dddddd; 
}
.register { 
	color: #fe9fde; 
}
.space {  }

.preprocessor {  
	color: #ffd200;
}


.register-name {
	float: left;
	color: #fe9fde; 
	width: 35px;
}
.register-value {
	float: left;
	color: #ffffff;
	padding-right: 16px;
}

.register-memory-value {
	cursor: pointer;
}

.changed {
	color: #9cce64 !important;
}

.ace_numeric { 
	color: #0077ff !important; 
}
.ace_hex { 
	color: #3bd4d4 !important; 
}
.ace_string { 
	color: #007700 !important;
}
.ace_library { 
	color: #6666ff;
}
.ace_keyword { 
	color: #ffffff !important;  
	font-weight: bold;
}
.ace_variable { 
	color: #fe9fde; 
}
.ace_preprocessor { 
	color: #ffd200;
}

.PC {
	color: #d4f400;
}

.SP {
	color: #ffc88d;
}


#memory {
	min-width: 500px;
	position: absolute;
	top: 4px;
	left: 4px;
}

.memory_offset {
	color: #777777;
	float: left; 
	width: 62px;
}

.memory_line {
	float: left;
	white-space: nowrap;	
}

#memory_goto_input {
	width: 60px;
	font-size: 11px;
	margin-top: 0px;
	margin-right: 4px;
	height: 14px;
}

#about_dialog {
	text-align: center;
}

#registers {
	margin-left: 15px;
}

#selectable_file_list .ui-selecting { 
	background: #dbffb0; 
	color: black; 
}
#selectable_file_list .ui-selected { 
	background: #9fda58; 
	color: black; 
}
#selectable_file_list { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	cursor: pointer;
}
#selectable_file_list li { 
	margin: 3px; 
	padding: 0.4em; 
	height: 14px; 
}

#watches {
	overflow-y: auto;
	max-height: 230px;
}

#watches_list .ui-selecting { 
	background: #dbffb0; 
	color: black; 
}
#watches_list .ui-selected { 
	background: #9fda58; 
	color: black; 
	padding: 3px 3px 5px 3px; 
	border: 1px solid #ffffff;

}
#watches_list { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	cursor: pointer;
}
#watches_list li { 
	margin: 2px; 
	padding: 4px 4px 6px 4px; 
	height: 12px; 
}

#watches_list .watch_key { 
	width: 150px;
	float: left;
	overflow: hidden;
}
#watches_list .watch_value { 
	float: left;
}
#watches_list .watch_value.changed { 

}
#watches_list input {
	margin: 0;
	background: #1D1D1D;
	color: white;
	border: 1px solid #DDD;
	width: 280px;
}

#media-drive {
	margin-left: 6px;
}

.hr {
	height: 1px;
	margin-top: 3px;
	margin-bottom: 3px;
	background: #666;
}

.settings_label {
	float: left;
	width: 172px;
}

.settings_value {
	float: left;
	width: 320px;
	height: 30px;
}

.settings_value span  {
	padding: 4px;
	border: 1px solid #ffffff;
	cursor: pointer;
}

.settings_value .ui-selecting { 
	background: #dbffb0; 
	color: black; 
}
.settings_value .ui-selected { 
	background: #9fda58; 
	color: black; 
}

.settings_value .disabled {
	cursor: default;
	opacity: 0.5;
}

.sped3 { 
	border: 6px solid #716c8c;
}
